
*.toc

*.log

*.pkg

*.pyz

*.0 osx x64

*.plist

*.pyc

*.spec

.idea/.name

.idea/encodings.xml

.idea/hello_wxpython.iml

.idea/misc.xml

.idea/modules.xml

.idea/scopes/scope_settings.xml

.idea/vcs.xml

.idea/workspace.xml

.idea/

build/

dist/